body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.4rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
  margin: 2rem 0 1rem;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.3rem;
  color: #666;
  margin: 2rem 0 1rem;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #444;
  margin: 2rem 0 .5rem;
}

table {
  border-spacing: 0;
  width: 100%;
}
thead th {
  border-bottom: 2px solid #333;
  color: #333;
  background-color: #efefef;
  text-align: left;
  font-weight: normal;
  padding: 7px 15px;
}
tbody th,
tbody td {
  text-align: left;
  font-weight: normal;
  padding: 7px 15px;
  vertical-align: top;
}
.tt-th.tt-sticky {
  width: 200px;
}

.options-panel {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #3795FF;
  padding: 10px;
}
.option {
  flex: 0 0 200px;
  display: flex;
  align-items: center; 
  font-family: "Roboto Mono", monospace;
}
.option-toggle {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.option-toggle .fas.fa-toggle-on {
  font-size: 20px;
  color: #3795FF;
}
.option-toggle .fas.fa-toggle-off {
  font-size: 20px;
  color: #999;
}
.option-title {
  margin: 0 10px;
}

pre {
  background-color: rgb(235, 245, 255);
  color: rgb(31, 84, 145);
  padding: 10px;
}